atlassian_python_api==4.0.7
colorama==0.4.6
faiss==1.5.3
GitPython==3.1.46
nbformat==5.10.4
numpy==2.4.2
openai==2.17.0
pyaudio==0.2.14
pypdf==6.6.2
python-dotenv==1.2.1
python_docx==1.2.0
streamlit==1.54.0
streamlit_mermaid==0.3.0
tiktoken==0.12.0
tree_sitter==0.21.3
tree_sitter_bash==0.25.1
tree_sitter_c==0.24.1
tree_sitter_cpp==0.23.4
tree_sitter_go==0.25.0
tree_sitter_java==0.23.5
tree_sitter_javascript==0.25.0
tree_sitter_python==0.25.0
tree_sitter_rust==0.24.0
tree_sitter_typescript==0.23.2
tiktoken==0.12.0